* {
     margin: 0;
     padding: 0;
}
/* ---------- header (navbar) -----------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  padding: 1.5rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-family: 'Roboto Mono';
  font-size: 1.15rem;
}

li p {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  font-family: 'Roboto Mono';
  font-size: 1.15rem;
}

li h1 {
    color: aquamarine;
    margin-left: 4rem;
    font-size: 3rem;
    font-family: 'Roboto Mono';
}

li a:hover {
  color: aquamarine;
}

.active {
  color: aquamarine;
 text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 5px;
}

.items {
    color: white;
 text-decoration: underline;
  text-decoration-color: aquamarine;
  text-underline-offset: 5px;
}
/*------------Footer*------------*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  font-family: 'Roboto Mono';
  text-align: center;
}

.footer p {
    position: absolute;
    bottom: 12.5px;
    left: 42.5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-family: 'Roboto Mono';
  
}

.price {
  color: grey;
  font-size: 22px;
  padding: 10px;
}
/*---------------product cards-------------*/
.products {
     display: flex;
     align-items: center;
     justify-content: center;
}
.card button {
    font-family: 'Roboto Mono';
  border: solid 0.5px white;
  outline: 0;
  padding: 12px;
  color: aquamarine;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.qtyBtn {
  font-family: 'Roboto Mono';
  border: none;
  outline: 0;
  padding: 12px;
  color: red;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

/*-------------------------Sidebar------------------------*/

/* The sidepanel menu */
.sidepanel {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: black; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

/* The sidepanel links */
.sidepanel p {
  padding: 32px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Roboto Mono';
  font-size: 20px;
  color: aquamarine;
  display: block;
  transition: 0.3s;
}

.sidepanel h1 {
  padding: 8px 8px 8px 32px;
  font-family: 'Roboto Mono';
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: aquamarine;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanel h2 {
  padding: 32px 8px 8px 32px;
  font-family: 'Roboto Mono';
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: aquamarine;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}